<HTML>
<HEAD>
    <TITLE>Cover Page</TITLE>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" media="print" href="css/printstyles.css">
    <link rel="stylesheet" media="screen" href="css/screenstyles.css">
</HEAD>
<BODY>
    <div class="reportpage">
        <div style="margin-top:0.25in;"></div> 
        <div class="panel" style="margin-left: 0.5in; margin-right: 0.5in; padding-bottom: 0.35in;">
            <div style="margin-top:0.15in;"></div> 
            <div class="cover_page_title_1">Specialty Clinics</div>
            <div class="cover_page_title_2" style="margin-top: 1in;">Referral Volume and Throughput</div> 
            <div class="cover_page_title_3" style="margin-top: 0.25in;">{{ today_long }}</div> 
        </div> 
        <div style="margin-top:0.4in;">
            <center><img src="images/caduceus.png" height="316"/></center>
        </div>
        <div class="cover_page_description" style="margin-top: 0.4in;">
            <P>This report contains measures of the rate at which referred patients are seen at 
               these Medical Center specialty clinics.</P>
            <P>A full description of this report and the measures within can be found on
               <A href="https://907sjl.github.io/">my GitHub site</A>.</P>
        </div>
        <div class="cover_page_publisher" style="margin-top: 0.7in;">An example of work by Steven J Leathard</div>
</BODY>
</HTML>
