<html>
<body>
    <ul>
        <li><a href='{{ app_root }}/cover'>Cover page</a></li>
        <li><a href='{{ app_root }}/scheduled'>View Schedule Times page</a></li>
        <li><a href='{{ app_root }}/seen'>View Seen Times page</a></li>
        <li><a href='{{ app_root }}/routine'>View Routine Referrals page</a></li>
        <li><a href='{{ app_root }}/urgent'>View Urgent Referrals page</a></li>
        <li><a href='{{ app_root }}/referrals'>View Referral Process page</a></li>
        <li><a href='{{ app_root }}/pending'>View Pending Referrals page</a></li>
        <li><a href='{{ app_root }}/crm'>View CRM Use page</a></li>
    </ul>
</body>
</html>