<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header class="smallertext">
        <h3 id="contents">Contents</h3>
        <div class="tocsingleton"><a href="#technology-stack">Technology Stack</a></div>
        <div class="tocsingleton"><a href="#data-sources">Data Sources</a></div>
        <div class="tocsingleton"><a href="#program-structure">Program Structure</a></div>
        <div class="tocgroup"><a href="#pandas-elt">Pandas ELT</a>
            <div class="tocitem"><a href="#data-load">Data Load</a></div>
            <div class="tocitem"><a href="#process-measures">Process Measures</a></div>
            <div class="tocitem"><a href="#pending-referral-measures">Pending Referral Measures</a></div>
            <div class="tocitem"><a href="#measures-of-crm-use">Measures of CRM Use</a></div>
            <div class="tocitemlast"><a href="#measures-of-dsm-use">Measures of DSM Use</a></div>
        </div>
        <div class="tocgroup"><a href="#bokeh-applications">Bokeh Applications</a>
        </div>
        <br>
        <p><small>Hosted on GitHub Pages &mdash;<br>Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </header>
      <section class="morecontent"> 
        {{ content }} 
      </section> 
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
